body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}


.div{
    display: none;
}


.contacto {
    background-color: aqua;
    height: 50px;
    display: flex;
    align-items: center;
}

.info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.active {
    color: #304ffe;
    border-bottom: 3px solid #304ffe;
    
}



.links:hover{
    color: #304ffe;
    border-bottom: 3px solid #304ffe;
    transition: 0.3s ease;
    
}

.left-numero {
    display: flex;
    margin-bottom: 0;
}

.info-right {
    display: flex;
    margin-bottom: 0;

}

.right-redes {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.right-redes i {
    cursor: pointer;
}

li {
    list-style: none;
}

.numero {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 13px;
}

.header-li-left {
    padding-right: 20px;
}

.header-li-right {
    padding-right: 10px;
}

.cotizar {
    background-color: blue;
    color: white;
    font-weight: bold;
}


.blog{
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    text-align: center;
    background-image: url(https://img.freepik.com/fotos-premium/tecnologias-resumen-espacio-poligonal-poli-oscuro-fondo-oscuro-puntos-lineas-conexion-estructura-conexion-fondo-poligonal-futurista-fondo-pantalla-negocios-triangular_38076-1954.jpg);
}

.texto-blog{
    display: flex;
}

.blog-text h2{
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}

.blog-text a{
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
}

.blanco{
    color: #fff;
}

.gris{
    margin-left: 15px;
    color: grey;
}


.contenido{
    display: flex;
}

.publicaciones-blog{
    display: flex;
    margin-top: 60px;
}

.fila{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 30px;
}

.blog-right{
    padding: 20px;
    
}

.espacio{
    margin-top: 50px;
}

.ultimas{
    background-color: #fff;
    padding: 25px;
    border: 1px solid #000;
    border-radius: 5px;
}

.li{
    list-style: circle;
    
}

.publicaciones-ultimas{
    display: flex;

}

.img-ult{
    padding-right: 20px;
}

.card-body{
    border-radius: 5px;
}



.footer{
    background-color: #1c1959;
    color: #fff;
}

.footer-arriba{
    display: flex;
    justify-content: center;
}

.grupo{
    display: flex;
    
    justify-content: space-around;
}

.grupo .p{
    margin-top: 50px;
}

.footer hr{
    color: #fff;
}

.footer-abajo p{
    margin-bottom: 0;
    text-align: center;
}




@media(max-width: 1520px){
    .caracteristicas{
        justify-content: space-between;
        
    }
    .a{
        width: 0;
    }

    .icono-texto p{
        font-size: 80%;
    }

    .icono-texto h2{
        font-size: 150%;
    }

    .icono-titulo{
        margin-right: 2%;
        
        width: 20%;
    }

    .icono-titulo i{
        
        font-size: 120%;
    }
}

@media(max-width: 1224px){

    .opiniones .row{
        margin-bottom: 0;
    }

    .opinion{
        width: 100%;
        margin-bottom: 10px;
    }
}

@media(max-width: 1377px){
    .numero{
        font-size: 14px;
    }
}

@media(max-width: 1290px){
    .titulos{
        width: 80%;
    }
}

@media(max-width: 1265px){
    .info{
        width: 80%;
    }
    .numero{
        font-size: 12px;
    }
}

@media(max-width: 1320px){
    .card-texto h5{
        font-size: 25px;
    }
}

@media(max-width: 1050px){

    .presen{
        width: 80%;
    }

    .imagen{
        width: auto;
    }

    .datos{
        width:35%;
    }

    .grupo{
        width: 90%;
    }
}

@media(max-width: 1171px){

    .asesoria-proyecto{
        width: 80%;
        
    }

    .card-texto h5{
        font-size: 20px;
    }
    .card-numero h5{
        font-size: 15px;
    }
}



/*Pantallas grandes (desktops de menos de 1200px)*/
@media (max-width: 1199.98px) { 
    .caracteristicas{
        justify-content: space-between;
        
    }

    .letras{
        font-size: 13px;
        font-weight: 500;
    }

    .imagen{
        width: auto;
    }

    .a{
        width: 0;
    }

    .card-texto h5{
        font-size: 25px;
    }

    .titulos{
        width: 90%;
    }
 }

 @media (max-width: 900px){
    .caracteristicas{
        display: grid;
        justify-content: center;
        
    }

    .imagen{
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
        align-items: center;
    }

    .datos{
        display: grid;
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
 }

 @media (max-width: 934px){
    .contacto{
        display: none;
    }

    .div{
        display: flex;
        width: 100%;

    }

    .left-numero{
        padding-left: 0;
    }
 }

@media (max-width: 850px) {
    .titulo{
        margin-top: 25px;
    }
}

/*Pantallas medianas (tablets de menos de 992px)*/
@media (max-width: 991.98px) { 
    .card-hover{
        height: 100%;
    }

    .links:hover{
        border-bottom: 0;
    }

    .active{
        border-radius: 0;
        border-bottom: 0;
    }

    .nav-item:hover{
        border-bottom: 0;
        border-radius: 10px;
        background-color: #304ffe;
        
    }



    .nav-item{
        margin-bottom: 10px;
    }

    .nav-item a{
        padding-left: 20px;
    }

    .nav-item:hover a{
        color: #000;
    }
 }

/*Pantallas pequeñas (móviles en landscape de menos de 768px)*/
@media (max-width: 767.98px) { 

    .presen{
        margin-left: 20px;
    }

    .left-numero{
        width: 70%;
        display: grid;
    }

    .div{
        justify-content: space-between;
    }

    .contenedor-cartas{
        width: 70%;
        display: flex;
        margin: 0 auto;
    }

    .cartas{
        display: grid;
    }

    .carta{
        width: 100%;
        margin-bottom: 30px;
        border-radius: 20px;
        
    }

    .carta h6{
        font-size: 25px;
    }

    .carta p{
        font-size: 15px;
    }

    .caracteristicas{
        display: block;
        justify-content: center;
        
    }

    .asesoria{
        height: auto;
        padding-bottom: 40px;
        padding-top: 20px;
        
        
    }

    .opiniones .row{
        margin-right: 5px;
        margin-left: 15px;
    }

    .carta-responsive{
        padding-right: 0;
        width: 80%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .titulo-cuerpo {
        width: 100%;
        font-size: auto;
        margin-right: 100px;
    }
    

    .titulo{
        padding-right: 0;
        display: grid;
        justify-content: center;
    }

    .row .texto{
        padding-right: 0;
        width: 90%;
    }

    .titulos .row{
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .card-hover{
        width: 90%;
    }

    .row .titulo{
        width: 80%;
    }

    .datos{
        text-align: center;
    }

    .imagen{
        width: 100%;
        display: grid;
        justify-content: center;
    }

    .datos .row{ 
        width: 100%;
        text-align: left;
    }




    .puntos{
        padding-right: 0;
        justify-content: center;
       margin-bottom: 20px;
    }

    .grupo{
        display: grid;
        width: 95%;
    }

 }


 @media (max-width: 510px){

    .imagen{
        display: flex;
    }

    .imagen img{
        width: 80%;
    }

    .foto-logo{
        width: 50vw;
    }

    .left-numero{
        display: grid;
    }

    .titulos{
        width: 100%;
    }

 }

 @media (max-width: 460px){
    .boton-card{
        justify-content: space-around;
    }

    .boton{
        width: 35%;
    }

    .titulo-cuerpo{
        margin-right: 0;
    }

    .presentacion h2{
        font-size: 40px;
    }
 }
 