body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}


.div{
    display: none;
}


.contacto {
    background-color: rgba(247,247,247,1);
    height: 50px;
    display: flex;
    align-items: center;
}

.info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.active {
    color: #fff;
    border-bottom: 3px solid red;
    
}

.item{
    color: #fff;
}

.links{
    color: #fff;
}

.links:hover{
    color: red;
    border-bottom: 3px solid red;
    transition: 0.3s ease;
    
}

.left-numero {
    display: flex;
    margin-bottom: 0;
}

.info-right {
    display: flex;
    margin-bottom: 0;

}

.right-redes {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.right-redes i {
    cursor: pointer;
}

li {
    list-style: none;
}

.numero {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 13px;
}

.header-li-left {
    padding-right: 20px;
}

.header-li-right {
    padding-right: 10px;
}




.cotizar {
    background-color: red;
    border: none;
    color: #fff;
    font-weight: bold;
}

.cotizar:hover{
    background-color: rgba(247,247,247,1);
    color: #000;
}

.presentacion {
    background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  ), url("https://png.pngtree.com/thumb_back/fw800/back_our/20190625/ourmid/pngtree-people-and-city-business-technology-image_262168.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: #fff;
    width: 100%;
    margin: 0;
}

.presentacion p {
    font-weight: 300, bold;
    font-size: 15px;

}

.presentacion h2 {
    font-size: 50px;
    font-weight: 400;

}

.descarga{
    padding: 20px 15px;
    font-size: 13px;
    font-weight: bold;
}

.caracteristicas {
    display: flex;
    width: auto;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.datos h5 {
    font-weight: 700;
    font-size: 35px;
}

.datos p {
    font-weight: 300;
}

.listo {

    background-color: rebeccapurple;
    padding: 5px;
    border-radius: 50%;
    color: #fff;

}

.puntos {
    display: flex;
    justify-content: space-between;

}

.valores{
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
}


.z{
    display: flex;
    justify-content: center;
}


.contenedor-valores{
    display: flex;
    justify-content: space-around;
}

.contenedor-valores h3{
    font-weight: 700;
    font-size: 22px;
}

.activo{
    box-shadow: 1px 4px 20px rgba(0,0,0,0.1);
    border-radius: 5px;
    border-bottom: 5px solid #1c1959;
}

.mision{
    width: 30%;
    padding: 3%;
    font-size: 15px;
    font-weight: 400;
}

.vision{
    width: 30%;
    padding: 3%;
    font-size: 15px;
    font-weight: 400;
}

.compromiso{
    width: 30%;
    padding: 3%;
    font-size: 15px;
    font-weight: 400;
}

.equipo{
    background-color: #1c1959;
    color: #fff;
    height: 900px;
    display: grid;
    align-items: center;
}


.personal{
    display: flex;
    justify-content: center;
    width: 100%;
}

.personass{
    display: flex;
    justify-content: space-around;
}

.persona{
    
    text-align: center;
}

.nombre{
    margin-top: 30px;
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 20px;
}

.cargo{
    font-size: 13px;
    font-weight: 500;
}

.nosotros{
    display: flex;
    justify-content: center;
    text-align: center;
}

.nosotros-titulo p{
    font-weight: 600;
    font-size: 15px;
}

.nosotros-titulo h5{
    font-weight: 500;
    font-size: 40px;
}

.personas{
    display: flex;
}

.opiniones .row{
    justify-content: space-around;
    margin-bottom: 30px;
}

.opinion{
    padding: 4% 5%;
    
}

.opinion-titulo{
    display: flex;
    justify-content: space-between;
}
.avatar{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.estrellas{
    color: goldenrod;
}

.avatar p{
    margin-bottom: 0;
    margin-left: 15px;
}



.asesoria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 500px;

}

.card-cotizar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
}

.cuerpo p {
    font-size: 13px;
    font-weight: 500;
}

.cuerpo h5 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0;
}

.card-numero p {
    margin-bottom: 0;
}


.card-numero h5 {
    font-size: 20px;
    
}

.card-numero a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.boton-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton-card button{
    padding: 10px 20px;
    font-size: 15px;
}

.icono-llamada{
    background-color: brown;
    padding: 7px;
    border-radius: 50%;
    margin-right: 15px;
}

.llamanos {
    display: flex;
}

.asesoria-proyecto{
    box-shadow: 10px 10px 10px 10px rgba(128, 128, 128, 0.1);
}


.footer{
    background-color: #1c1959;
    color: #fff;
}

.footer-arriba{
    display: flex;
    justify-content: center;
}

.grupo{
    display: flex;
    
    justify-content: space-around;
}

.grupo .p{
    margin-top: 20px;
    color: gray;
}

.p a{
    text-decoration: none;
    color: gray;
}

.p a:hover{
    color: #fff;
}
.footer hr{
    color: #fff;
}

.footer-abajo p{
    margin-bottom: 0;
    text-align: center;
}




@media(max-width: 1520px){
    .caracteristicas{
        justify-content: space-between;
        
    }
    .a{
        width: 0;
    }

    .icono-texto p{
        font-size: 80%;
    }

    .icono-texto h2{
        font-size: 150%;
    }

    .icono-titulo{
        margin-right: 2%;
        
        width: 20%;
    }

    .icono-titulo i{
        
        font-size: 120%;
    }
}

@media(max-width: 1224px){

    .opiniones .row{
        margin-bottom: 0;
    }

    .opinion{
        width: 100%;
        margin-bottom: 10px;
    }
}

@media(max-width: 1377px){
    .numero{
        font-size: 14px;
    }
}

@media(max-width: 1290px){
    .titulos{
        width: 80%;
    }
}

@media(max-width: 1265px){
    .info{
        width: 80%;
    }
    .numero{
        font-size: 12px;
    }
}

@media(max-width: 1320px){
    .card-texto h5{
        font-size: 25px;
    }
}

@media(max-width: 1050px){

    .imagen{
        width: auto;
    }

    .datos{
        width:35%;
    }

    .grupo{
        width: 90%;
    }
}

@media(max-width: 1171px){

    .asesoria-proyecto{
        width: 80%;
        
    }

    .card-texto h5{
        font-size: 20px;
    }
    .card-numero h5{
        font-size: 15px;
    }
}



/*Pantallas grandes (desktops de menos de 1200px)*/
@media (max-width: 1199.98px) { 
    .caracteristicas{
        justify-content: space-between;
        
    }

    .letras{
        font-size: 13px;
        font-weight: 500;
    }

    .imagen{
        width: auto;
    }

    .a{
        width: 0;
    }

    .card-texto h5{
        font-size: 25px;
    }

    .titulos{
        width: 90%;
    }
 }

 @media (max-width: 900px){
    .caracteristicas{
        display: grid;
        justify-content: center;
        
    }

    .imagen{
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
        align-items: center;
    }

    .datos{
        display: grid;
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
 }

 @media (max-width: 934px){
    .contacto{
        display: none;
    }

    .div{
        display: flex;
        width: 100%;

    }

    .left-numero{
        padding-left: 0;
    }
 }

@media (max-width: 850px) {
    .titulo{
        margin-top: 25px;
    }
}

/*Pantallas medianas (tablets de menos de 992px)*/
@media (max-width: 991.98px) { 
    .card-hover{
        height: 100%;
    }

    .links:hover{
        border-bottom: 0;
    }

    .active{
        border-radius: 0;
        border-bottom: 0;
    }

    .nav-item:hover{
        border-bottom: 0;
        border-radius: 10px;
        background-color: #304ffe;
        
    }



    .nav-item{
        margin-bottom: 10px;
    }

    .nav-item a{
        padding-left: 20px;
    }

    .nav-item:hover a{
        color: #000;
    }
 }

/*Pantallas pequeñas (móviles en landscape de menos de 768px)*/
@media (max-width: 767.98px) { 

    .left-numero{
        width: 70%;
        display: grid;
    }

    .div{
        justify-content: space-between;
    }

    .contenedor-cartas{
        width: 70%;
        display: flex;
        margin: 0 auto;
    }

    .cartas{
        display: grid;
    }

    .carta{
        width: 100%;
        margin-bottom: 30px;
        border-radius: 20px;
        
    }

    .carta h6{
        font-size: 25px;
    }

    .carta p{
        font-size: 15px;
    }

    .caracteristicas{
        display: block;
        justify-content: center;
        
    }

    .asesoria{
        height: auto;
        padding-bottom: 40px;
        padding-top: 20px;
        
        
    }

    .opiniones .row{
        margin-right: 5px;
        margin-left: 15px;
    }

    .carta-responsive{
        padding-right: 0;
        width: 80%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .titulo-cuerpo {
        width: 100%;
        font-size: auto;
        margin-right: 100px;
    }
    

    .titulo{
        padding-right: 0;
        display: grid;
        justify-content: center;
    }

    .row .texto{
        padding-right: 0;
        width: 90%;
    }

    .titulos .row{
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .card-hover{
        width: 90%;
    }

    .row .titulo{
        width: 80%;
    }

    .datos{
        text-align: center;
    }

    .imagen{
        width: 100%;
        display: grid;
        justify-content: center;
    }

    .datos .row{ 
        width: 100%;
        text-align: left;
    }




    .puntos{
        padding-right: 0;
        justify-content: center;
       margin-bottom: 20px;
    }

    .grupo{
        display: grid;
        width: 95%;
    }

 }


 @media (max-width: 510px){

    .imagen{
        display: flex;
    }

    .imagen img{
        width: 80%;
    }

    .foto-logo{
        width: 50vw;
    }

    .left-numero{
        display: grid;
    }

    .titulos{
        width: 100%;
    }

 }

 @media (max-width: 460px){
    .boton-card{
        justify-content: space-around;
    }

    .boton{
        width: 35%;
    }

    .titulo-cuerpo{
        margin-right: 0;
    }

    .presentacion h2{
        font-size: 40px;
    }
 }
 