body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

.div{
    display: none;
}


.contacto {
    background-color: rgba(247,247,247,1);
    height: 50px;
    display: flex;
    align-items: center;
}

.info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.active {   
    border-bottom: 3px solid red;    
    color: #fff;
}

.item{
    color: #fff;
}

.links{
    color: #fff;
}

.links:hover{
    color: red;
    border-bottom: 3px solid red;
    transition: 0.3s ease;
    
}

.left-numero {
    display: flex;
    margin-bottom: 0;
}

.info-right {
    display: flex;
    margin-bottom: 0;

}

.right-redes {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.right-redes i {
    cursor: pointer;
}

li {
    list-style: none;
}

.numero {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 13px;
}

.numero a{
    text-decoration: none;
    color: #000;
}

.header-li-left {
    padding-right: 20px;
}

.header-li-right {
    padding-right: 10px;
}



.cotizar {
    background-color: red;
    border: none;
    color: #fff;
    font-weight: bold;
}

.cotizar:hover{
    background-color: rgba(247,247,247,1);
    color: #000;
    transition: 0.5s ease;
}


.blog{
    display: flex;

    height: 300px;
    align-items: center;
    text-align: center;
    background-image: url(https://img.freepik.com/fotos-premium/tecnologias-resumen-espacio-poligonal-poli-oscuro-fondo-oscuro-puntos-lineas-conexion-estructura-conexion-fondo-poligonal-futurista-fondo-pantalla-negocios-triangular_38076-1954.jpg);
}

.texto-blog{
    display: flex;
}

.blog-text h2{
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}

.blog-text a{
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
}

.blanco{
    color: #fff;
}

.gris{
    margin-left: 15px;
    color: grey;
}



.contenido{
    display: flex;
}

.publicaciones-blog{
    display: flex;
    margin-top: 60px;
}

.fila{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 30px;
}

.blog-right{
    padding: 50px;
    
}

.espacio{
    margin-top: 50px;
}

.ultimas{
    background-color: #fff;
    padding: 35px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}



.categoria a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.categoria a:hover{
    color: red;
}

.seleccionado{
    transform: translateX(5%);
    color: red;
}

.selected{
    color: red;
}

.categoria a:hover .texto{
    transform: translateX(5%);
    transition: all 400ms ease;
}

.texto-central{
    margin-top: 50px;
    margin-bottom: 70px;
}

.equipamiento{
    margin-top: 30px;
}

.check{
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 13px;
}

.check i{
    font-size: 25px;
    color: red;
}

.check p{
    margin-left: 15px;

    margin-bottom: 0;
}

.texto-abajo{
    margin-top: 50px;
}

.formulario form{
    display: grid;
}

.formulario form label{
    margin-top: 20px;
    font-weight: 700;
    font-size: 15px;
}

.formulario form input{
   border-radius: 5px;
   border-color: rgba(128, 128, 128, 0.2);
   border-width: 1px;
   padding: 10px;
   background-color: rgba(128, 128, 128, 0.1);
   outline: none;
}

.formulario form select{
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.2);
    border-width: 1px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.1);
    outline: none;
 }

.formulario form input:focus{
    border-color: rgba(100, 4, 4,1);
    transition: 0.3s ease;
}

.formulario form button{
    border: none;
    color: #fff;
    background-color: rgb(219, 12, 12);
    border-radius: 5px;
    padding: 12px 0;
    font-weight: 700;
    font-size: 13px;
}

.formulario form button:hover{
    background-color: rgba(100, 4, 4,1);
    transition: 0.3s ease;
}

.formulario form button{
    margin-top: 30px;
}

.elegir h6{
    font-size: 30px;
    font-weight: 600;
    margin-top: 60px;
}

.razon{
    display: flex;
    align-items: center;
}

.razon i{
    font-size: 50px;
    margin-right: 20px;
    color: #004d6c;
}

.razon b{
    color: rgb(219, 12, 12);
}

.razon p{
    margin-bottom: 0;
}

.footer{
    background-color: #1c1959;
    color: #fff;
}

.footer-arriba{
    display: flex;
    justify-content: center;
}

.grupo{
    display: flex;
    
    justify-content: space-around;
}

.grupo .p{
    margin-top: 20px;
    color: gray;
}

.p a{
    text-decoration: none;
    color: gray;
}

.p a:hover{
    color: #fff;
}

.footer hr{
    color: #fff;
}

.footer-abajo p{
    margin-bottom: 0;
    text-align: center;
}



@media(max-width: 1520px){
    .caracteristicas{
        justify-content: space-between;
        
    }
    .a{
        width: 0;
    }

    .icono-texto p{
        font-size: 80%;
    }

    .icono-texto h2{
        font-size: 150%;
    }

    .icono-titulo{
        margin-right: 2%;
        
        width: 20%;
    }

    .icono-titulo i{
        
        font-size: 120%;
    }
}

@media(max-width: 1482px){
    .publicaciones-blog{
        display: grid;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
        margin-top: 50px;
    }

    .blog-right{
        width: 100%;
        order: 2;
    }

    .contenido{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        order: 1;
    }

    .blog-cards{
        width: 100%;
    }
}

@media(max-width: 1224px){

    .opiniones .row{
        margin-bottom: 0;
    }

    .opinion{
        width: 100%;
        margin-bottom: 10px;
    }
}

@media(max-width: 1377px){
    .numero{
        font-size: 14px;
    }
}

@media(max-width: 1290px){
    .titulos{
        width: 80%;
    }
}

@media(max-width: 1265px){
    .info{
        width: 80%;
    }
    .numero{
        font-size: 12px;
    }
}

@media(max-width: 1320px){
    .card-texto h5{
        font-size: 25px;
    }
}

@media(max-width: 1050px){

    .presen{
        width: 80%;
    }

    .imagen{
        width: auto;
    }

    .datos{
        width:35%;
    }

    .grupo{
        width: 90%;
    }
}

@media(max-width: 1171px){

    .asesoria-proyecto{
        width: 80%;
        
    }

    .card-texto h5{
        font-size: 20px;
    }
    .card-numero h5{
        font-size: 15px;
    }
}



/*Pantallas grandes (desktops de menos de 1200px)*/
@media (max-width: 1199.98px) { 
    .caracteristicas{
        justify-content: space-between;
        
    }

    .letras{
        font-size: 13px;
        font-weight: 500;
    }

    .imagen{
        width: auto;
    }

    .a{
        width: 0;
    }

    .card-texto h5{
        font-size: 25px;
    }

    .titulos{
        width: 90%;
    }
 }

 @media (max-width: 900px){
    .caracteristicas{
        display: grid;
        justify-content: center;
        
    }

    .imagen{
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
        align-items: center;
    }

    .datos{
        display: grid;
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
 }

 @media (max-width: 934px){
    .contacto{
        display: none;
    }

    .div{
        display: flex;
        width: 100%;

    }

    .left-numero{
        padding-left: 0;
    }
 }

@media (max-width: 850px) {
    .titulo{
        margin-top: 25px;
    }
}

/*Pantallas medianas (tablets de menos de 992px)*/
@media (max-width: 991.98px) { 
    .card-hover{
        height: 100%;
    }

    .links:hover{
        border-bottom: 0;
    }

    .active{
        border-radius: 0;
        border-bottom: 0;
    }

    .nav-item:hover{
        border-bottom: 0;
        border-radius: 10px;
        background-color: #304ffe;
        
    }



    .nav-item{
        margin-bottom: 10px;
    }

    .nav-item a{
        padding-left: 20px;
    }

    .nav-item:hover a{
        color: #000;
    }
 }

/*Pantallas pequeñas (móviles en landscape de menos de 768px)*/
@media (max-width: 767.98px) { 

    
    .resumen img{
        width: 60%;
    }
  

    .grupo{
        display: grid;
        width: 95%;
    }

    .blog{
        justify-content: center;
    }

 }

 @media (max-width: 690px){
    .fila{
        display: grid;
        padding: 0;
    }

    .elegir h6{
        margin-bottom: 40px;
    }

    .razon{
        margin-bottom: 20px;
    }
 }

@media(max-width: 624px){
    .texto-blog{
        justify-content: center;
    }
}

 @media (max-width: 510px){

    .imagen{
        display: flex;
    }

    .imagen img{
        width: 80%;
    }

    .foto-logo{
        width: 50vw;
    }

    .left-numero{
        display: grid;
    }

    .titulos{
        width: 100%;
    }

 }

 @media (max-width: 460px){
    .boton-card{
        justify-content: space-around;
    }

    .boton{
        width: 35%;
    }

    .titulo-cuerpo{
        margin-right: 0;
    }

    .presentacion h2{
        font-size: 40px;
    }
 }