body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}


.contacto {
    background-color: aqua;
    height: 50px;
    display: flex;
    align-items: center;
}

.info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 0;
}



.left-numero {
    display: flex;
    margin-bottom: 0;
}

.info-right {
    display: flex;
    margin-bottom: 0;

}

.right-redes {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.right-redes i {
    cursor: pointer;
}

li {
    list-style: none;
}

.numero {
    padding-bottom: 0;
    margin-bottom: 0;
}

.header-li-left {
    padding-right: 20px;
}

.header-li-right {
    padding-right: 10px;
}

.links{
    color: #000;

}


.cotizar {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.presentacion {
    background-color: green;
    height: 500px;
    color: #fff;
    width: 100%;
    margin: 0;
}

.presentacion p {
    font-weight: 300, bold;
    font-size: 15px;

}

.presentacion h2 {
    font-size: 50px;
    font-weight: 400;

}

.servicios {
    background-color: #1c1959;
    display: flex;
    height: auto;
    width: 100%;
    margin: 0;
}

.servicios .titulos {
    display: flex;
    align-items: center;
    padding: 0;
}

.titulo {
    height: 200px;
    align-items: center;
    display: flex;
}

.titulo p{
    color: #fff;
}

.titulo h2{
    color: #fff;
    font-weight: 800;
}

.titulo-cuerpo{
    display: flex;
    align-items: center;
}

.icono-titulo{
    justify-content: center;
    display: flex;
    border-radius: 50%;
    padding: 5%;
    margin-right: 10px;
    background-color: #1c1959;
    color: #fff;
}

.icono-texto p{
    margin-bottom: 0;
}

.card-hover{
    cursor: pointer;
    transition: all 400ms ease;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);

}

.card-hover:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card-hover:hover .circulo{
    background-color: blue;
    color: #fff;
}

.card-hover:hover .card-title{
    color: #1c1959;
}



.circulo {
    border-radius: 50%;
    color: blue;
    background-color: white;
    border: 0px;

}

.row .texto {
    text-align: center;

}

.row .texto h4 {
    font-weight: 300;
    font-size: 12pt;

}

.row .texto {
    font-weight: 300;
    font-size: 10pt;
}

.caracteristicas {
    display: flex;
    width: auto;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.datos h5 {
    font-weight: 700;
    font-size: 35px;
}

.datos p {
    font-weight: 300;
}

.listo {

    background-color: rebeccapurple;
    padding: 5px;
    border-radius: 50%;
    color: #fff;

}

.puntos {
    display: flex;
    justify-content: space-between;

}

.valores h6 {
    font-weight: bold;
}

.valores p {
    font-weight: 400;
    font-size: 12px;
}

.proceso {

    justify-content: center;
    text-align: center;
    background-color: cadetblue;
    width: auto;
    height: auto;
}

.contenedor-cartas {
    display: flex;
}

.cartas {
    display: flex;
    text-align: left;
    justify-content: space-between;

}

.carta {
    background-color: chocolate;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5%;
    width: 23%;
}

.iconos {
    display: flex;
    background-color: blueviolet;
    position: relative;
    top: -15%;
    justify-content: center;
    align-items: center;
    height: auto;
    color: #fff;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.contactanos {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.contactanos a{
    color: #fff;
}

.contactanos a:hover{
    color: gainsboro;
}

.asesoria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 500px;

}

.card-cotizar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
}

.cuerpo p {
    font-size: 13px;
    font-weight: 500;
}

.cuerpo h5 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0;
}

.card-numero p {
    margin-bottom: 0;
}


.card-numero h5 {
    font-size: 20px;
    
}

.card-numero a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.boton-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton-card button{
    padding: 10px 20px;
    font-size: 15px;
}

.icono-llamada{
    background-color: brown;
    padding: 7px;
    border-radius: 50%;
    margin-right: 15px;
}

.llamanos {
    display: flex;
}

.asesoria-proyecto{
    box-shadow: 10px 10px 10px 10px rgba(128, 128, 128, 0.1);
}

.nosotros{
    display: flex;
    justify-content: center;
    text-align: center;
}

.nosotros-titulo p{
    font-weight: 600;
    font-size: 15px;
}

.nosotros-titulo h5{
    font-weight: 500;
    font-size: 40px;
}

.personas{
    display: flex;
}

.opiniones .row{
    justify-content: space-around;
    margin-bottom: 30px;
}

.opinion{
    padding: 4% 5%;
    
}

.opinion-titulo{
    display: flex;
    justify-content: space-between;
}
.avatar{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.estrellas{
    color: goldenrod;
}

.avatar p{
    margin-bottom: 0;
    margin-left: 15px;
}

.tecnico{
    display: flex;
    justify-content: center;
    text-align: center;
}

.asesoria-form{
    display: flex;
    justify-content: center;
}

.formulario{
    padding: 30px;
    box-shadow: 10px 10px 10px 10px rgba(128, 128, 128, 0.15);
}

.formulario .row{
    display: flex;
    justify-content: space-around;
}

.formulario .row input{
    width: 28%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgba(128, 128, 128, 0.5);
    margin-bottom: 20px;
}

.formulario .row button{
    width: 90%;
    margin-left: 5%;
    height: 120%;
}


.slider {
    width: 70vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

.footer{
    background-color: #1c1959;
    color: #fff;
}

.footer-arriba{
    display: flex;
    justify-content: center;
}

.grupo{
    display: flex;
    
    justify-content: space-around;
}

.grupo .p{
    margin-top: 50px;
}

.footer hr{
    color: #fff;
}

.footer-abajo p{
    margin-bottom: 0;
    text-align: center;
}

@media(max-width: 1520px){
    .caracteristicas{
        justify-content: space-between;
        
    }
    .a{
        width: 0;
    }
}

@media(max-width: 1224px){

    .opiniones .row{
        margin-bottom: 0;
    }

    .opinion{
        width: 100%;
        margin-bottom: 10px;
    }
}

@media(max-width: 1320px){
    .card-texto h5{
        font-size: 25px;
    }
}

@media(max-width: 1171px){

    .asesoria-proyecto{
        width: 80%;
        
    }

    .card-texto h5{
        font-size: 20px;
    }
    .card-numero h5{
        font-size: 15px;
    }
}



/*Pantallas grandes (desktops de menos de 1200px)*/
@media (max-width: 1199.98px) { 
    .caracteristicas{
        justify-content: space-between;
        
    }

    .imagen{
        width: 40%;
    }

    .a{
        width: 0;
    }

    .card-texto h5{
        font-size: 25px;
    }
 }

/*Pantallas medianas (tablets de menos de 992px)*/
@media (max-width: 991.98px) { 

 }

/*Pantallas peque침as (m칩viles en landscape de menos de 768px)*/
@media (max-width: 767.98px) { 

    .caracteristicas{
        display: block;
        justify-content: center;
        
    }

    .asesoria{
        height: auto;
    }

    .opiniones .row{
        margin-right: 5px;
        margin-left: 15px;
    }

    .carta-responsive{
        padding-right: 0;
        width: 80%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .titulo{
        padding-right: 0;
        
    }

    .row .texto{
        padding-right: 0;
        width: 90%;
    }

    .titulos .row{
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .card-hover{
        width: 90%;
    }

    .row .titulo{
        width: 80%;
    }

    .datos{
        text-align: center;
    }

    .imagen{
        width: 100%;
        display: grid;
        justify-content: center;
    }

    .datos .row{ 
        
        text-align: left;
    }


    .valores h6{
        margin-bottom: 0;
    }

    .valores{
        margin-left: 10px;
    }

    .puntos{
        padding-right: 0;
        justify-content: center;
       margin-bottom: 20px;
    }

    

 }

/*Pantallas muy peque침as (m칩viles en portrait de menos de 576px)*/
@media (max-width: 575.98px) { 
    
 }