body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}


.contacto {
    background-color: aqua;
    height: 50px;
    display: flex;
    align-items: center;
}

.info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 0;
}



.left-numero {
    display: flex;
    margin-bottom: 0;
}

.info-right {
    display: flex;
    margin-bottom: 0;

}

.right-redes {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.right-redes i {
    cursor: pointer;
}

li {
    list-style: none;
}

.numero {
    padding-bottom: 0;
    margin-bottom: 0;
}

.header-li-left {
    padding-right: 20px;
}

.header-li-right {
    padding-right: 10px;
}


.cotizar {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.presentacion {
    background-color: green;
    height: 500px;
    color: #fff;
    width: 100%;
    margin: 0;
}

.presentacion p {
    font-weight: 300, bold;
    font-size: 15px;

}

.presentacion h2 {
    font-size: 50px;
    font-weight: 400;

}

.servicios {
    background-color: palegreen;
    display: flex;
    height: auto;
    width: 100%;
    margin: 0;
}

.servicios .titulos {
    display: flex;
    align-items: center;
    padding: 0;
}

.titulo {
    height: 200px;
    align-items: center;
    display: flex;
}

.circulo {
    border-radius: 50%;
    color: blue;
    background-color: white;
    border: 0px;

}

.row .texto {
    text-align: center;

}

.row .texto h4 {
    font-weight: 300;
    font-size: 12pt;

}

.row .texto a {
    font-weight: 300;
    font-size: 10pt;
}

.caracteristicas {
    display: flex;
    width: auto;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.datos h5 {
    font-weight: 700;
    font-size: 35px;
}

.datos p {
    font-weight: 300;
}

.listo {

    background-color: rebeccapurple;
    padding: 5px;
    border-radius: 50%;
    color: #fff;

}

.puntos {
    display: flex;
    justify-content: space-between;

}

.valores h6 {
    font-weight: bold;
}

.valores p {
    font-weight: 400;
    font-size: 12px;
}

.proceso {

    justify-content: center;
    text-align: center;
    background-color: cadetblue;
    width: auto;
    height: auto;
}

.contenedor-cartas {
    display: flex;
}

.cartas {
    display: flex;
    text-align: left;
    justify-content: space-between;

}

.carta {
    background-color: chocolate;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5%;
    width: 23%;
}

.iconos {
    display: flex;
    background-color: blueviolet;
    position: relative;
    top: -15%;
    justify-content: center;
    align-items: center;
    height: auto;
    color: #fff;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.contactanos {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asesoria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 500px;

}

.card-cotizar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
}

.cuerpo p {
    font-size: 13px;
    font-weight: 500;
}

.cuerpo h5 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0;
}

.card-numero p {
    margin-bottom: 0;
}


.card-numero h5 {
    font-size: 20px;
    
}

.card-numero a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.boton-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton-card button{
    padding: 10px 20px;
    font-size: 15px;
}

.icono-llamada{
    background-color: brown;
    padding: 7px;
    border-radius: 50%;
    margin-right: 15px;
}

.llamanos {
    display: flex;
}